.navbar-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 60px;
    background: #5e22a7;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom: 1px solid rgb(255, 255, 255);
  }
  
  .logo img {
    margin-top: 6%;
    width: auto;
    height: 49px;
  }
  
  .navbar-button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 16px;
    width: 200PX;
    height: 90PX;
    
    font-weight: bold;
    background: linear-gradient(to bottom left, #ececec, 20%, #5e22a7);
    cursor: pointer;
    border-top-right-radius: 20px;
    height: 61PX;
    border-bottom: 2px solid #ffffff;
    
    
   
  }

  
  .navbar-button:hover {
    color: #fff;
    background: linear-gradient(to bottom left, #ffffff, 20%, #481b80);
  }
  
  
  .navbar-button.active {
   
   height: 62PX;
   
   
   
    
  }