a{
    text-decoration: none;
    color: #6c1cce;
}


h2{
    text-decoration: none;
    font-size: 20px;
}

.task-container{
    border-top-right-radius: 15px;
    background-color: #ffffff;
    padding-top: 10px;
    padding-bottom: 20px;
    box-shadow: 4px -1px 1px #7f669e;
}

.task-text{

    color: #000000;
}

