.update-task-container{

    min-height: 75vh;
    padding: 2rem;
    box-shadow: 3px -1px 0px #654d83;
    border-top-right-radius: 15px;
    width: 25%;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
    gap: 10rem;
    background: linear-gradient(to bottom left,#f3f3f3, 30%, #5e22a7);
    /* background-color: #f3f3f3; */
}    