h3,
h4 {
  color: #5e22a7;
}

p {
  color: #000000;
  font-size: 19px;
}

.task-details-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  gap: 1rem;
  max-height: 100%;
  margin: 0;
  padding: 1rem;
  background: linear-gradient(to bottom left, #f3f3f3, 30%, #5e22a7);
  box-shadow: 3px 6px 15px #654d83;
  border-top-right-radius: 15px;
  
}

.task-details-main-background {
  width: 100%;
  margin: 0px;
  padding: 1rem;
  padding-bottom: 0px;
  background-color: #5e22a7;
}

.task-details-background {
  background-color: #f3f3f3;
  padding: 30px;
  border-top-right-radius: 15px;
}

.task-details-scroll {
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 0.5rem;
  overflow-y: scroll;
  width: 100%;
  box-shadow: none;
}

.task-details-scroll::-webkit-scrollbar {
  width: 7px;
}
/*   
    .boards-scroll::-webkit-scrollbar-track {
        background-color: #cacaca;
        border-radius: 15px;
    } */
.task-details-scroll::-webkit-scrollbar-thumb {
  background-color: #9b9b9b;
  border-radius: 15px;
}

button {
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  border: none;
  padding: 12px;
  margin: 7px;
  background: linear-gradient(to bottom, #ffffff, 10%, #5e22a7);
  cursor: pointer;
}
