h3,
h4 {
  color: #5e22a7;
}

p {
  color: #000000;
  font-size: 19px;
}

.task-details-container {
  margin: 1rem;
  margin-bottom: 0;
  padding: 1rem;
  background: linear-gradient(to bottom left, #f3f3f3, 30%, #5e22a7);
  box-shadow: 3px 6px 15px #654d83;
  border-top-right-radius: 15px;
  
}

.task-details-main-background {
  width: 100%;

  margin: 0px;
  background-color: #5e22a7;
  padding-bottom: 0px;
}

.task-details-background {
  background-color: #f3f3f3;
  padding: 30px;
  border-top-right-radius: 15px;
}

button {
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  border: none;
  padding: 12px;
  margin: 7px;
  background: linear-gradient(to bottom, #ffffff, 10%, #5e22a7);
  cursor: pointer;
}
