h2{

    color:#ffffff
}

.SideBar-container{
    border: 1px solid black;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: flex-start;
    min-height: 80vh;
    gap: 2rem;
    background-color: #7d2ce0;
    padding: 2rem;
    
    
}

.boards-container-sidebar{


}