* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

#root {
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  box-shadow: 9px -1px 15px #654d83;
  
}

html{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}